<div class="container">
  <!-- Banner show page -->
  <div id='banner-post' class="banner banner-small">
    <h1><%= @post.title %></h1>
    <img src="<%= @post.photo ? @post.photo : 'https://source.unsplash.com/random' %>" alt="post photo">
  </div>
</div>

<div class="container">
  <div class="post-content">
    <p><%= @post.content %></p>
    <!-- reviews -->
    <% if @post.comments.any? %>
      <div class="reviews">
        <%= erb :'shared/reviews', locals: { post: @post, comments: @comments } %>
      </div>
    <% else %>
      <h2>Leave the first review!</h2>
      <%= erb :'shared/new_review', locals: { post: @post, comment: @comment } %>
    <% end %>
  </div>
</div>


